@use "variables";

* {
  font-family: "Concert One", cursive;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  background-color: variables.$primary-background-color;
}
