@use "variables";

footer {
  padding-top: 70px;
  padding-bottom: 20px;
}

footer p {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: variables.$font-2;
  color: variables.$first-accent-color;
}

footer img {
  width: 25px;
}
