@use "variables";

footer {
  padding-top: 1%;
  padding-bottom: 1%;
  position: sticky;
  height: 100px;
  display: flex;
  align-items: center;
}

footer p {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: variables.$font-2;
  color: variables.$first-accent-color;
}

footer img {
  width: 25px;
}

@media only screen and (max-height: 888px) {
  footer {
    padding-top: 20px;
  }
}

@media only screen and (max-width: 660px) {
  footer p {
    gap: 8px;
    font-size: variables.$font-2-m;
  }

  footer img {
    width: 20px;
  }
}

@media only screen and (max-width: 375px) {
  footer {
    padding-top: 50px;
  }

  footer p {
    gap: 7px;
    font-size: variables.$font-2-s;
  }

  footer img {
    width: 18px;
  }
}
