@use "variables";

#gameBoradDiv {
  display: grid;
  width: 400px;
  height: 400px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
}

.cell {
  width: 33, 33%;
  height: 33, 33%;
  border: solid 2px variables.$first-accent-color;
  border-radius: 20px;
  box-shadow: 0 0 10px variables.$first-accent-color;
  font-family: "Concert One", cursive;
  font-size: variables.$font-0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell:hover {
  border-color: variables.$second-accent-color;
  box-shadow: 0 0 10px variables.$second-accent-color;
}

@media only screen and (max-width: 660px) and (max-height: 888px) {
  #gameBoradDiv {
    width: 320px;
    height: 320px;
    gap: 16px;
  }

  .cell {
    font-size: variables.$font-0-m;
  }
}

@media only screen and (max-width: 375px) {
  #gameBoradDiv {
    width: 280px;
    height: 280px;
    gap: 14px;
  }

  .cell {
    font-size: variables.$font-0-s;
  }
}
