$primary-background-color: #432e73;
$first-accent-color: #919bd3;
$second-accent-color: #9865c7;
$third-accent-color: #4ab6d5;
$forth-accent-color: #db52b4;

$font-0: 90px;
$font-1: 60px;
$font-2: 25px;
