$primary-background-color: #432e73;
$first-accent-color: #919bd3;
$second-accent-color: #9865c7;
$third-accent-color: #4ab6d5;
$forth-accent-color: #db52b4;

$font-0: 90px;
$font-1: 60px;
$font-2: 25px;

$font-0-m: 72px;
$font-1-m: 48px;
$font-2-m: 20px;

$font-0-s: 64px;
$font-1-s: 43px;
$font-2-s: 18px;
