*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

* {
  font-family: "Concert One", cursive;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #432e73;
}

main {
  min-height: calc(100% - 200px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media only screen and (max-width: 375px) {
  body {
    height: 100%;
  }
}
header {
  background-color: #432e73;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15%;
  width: 600px;
  margin-top: 30px;
  gap: 20px;
}

#playersTurn,
#scoreboardMessage {
  display: flex;
  align-items: center;
  justify-content: center;
}

#playersTurn {
  color: #919bd3;
  font-size: 60px;
  padding: 4px 20px;
  line-height: 60px;
}

#scoreboardMessage {
  color: #919bd3;
  font-size: 25px;
  width: 100%;
  height: 70px;
  color: #4ab6d5;
  font-size: 25px;
  border: solid 2px #919bd3;
  border-radius: 20px;
}

header > img {
  width: 70px;
  background-color: #919bd3;
  padding: 10px;
  border-radius: 20px;
}

img:hover {
  background-color: #9865c7;
}

#arrow {
  width: 25px;
  margin: 10px;
}

@media only screen and (max-width: 660px) and (max-height: 888px) {
  header {
    height: 15%;
    width: 480px;
    margin-top: 20px;
    padding: 0px 10px;
    gap: 6px;
  }
  #playersTurn {
    font-size: 48px;
    padding: 3.2px 0px;
  }
  #scoreboardMessage {
    font-size: 20px;
    height: 56px;
    font-size: 20px;
  }
  header > img {
    width: 56px;
    padding: 8px;
  }
  #arrow {
    width: 20px;
    margin: 8px;
  }
}
@media only screen and (max-width: 375px) {
  header {
    height: 15%;
    width: 430px;
    margin-top: 21px;
    padding: 0px 9px;
    gap: 10px;
  }
  #playersTurn {
    font-size: 43px;
    padding: 0px;
    padding-left: 30px;
  }
  #scoreboardMessage {
    font-size: 18px;
    height: 50px;
    font-size: 18px;
  }
  header > img {
    width: 50px;
    padding: 7px;
  }
  #arrow {
    width: 18px;
    margin: 7px;
  }
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#scoreboardDiv {
  display: flex;
  justify-content: space-between;
  font-size: 60px;
  gap: 16px;
  margin-top: 20px;
}

#scoreboardDiv p {
  color: #919bd3;
}

#playerOnePoints {
  color: #4ab6d5;
}

#playerTwoPoints {
  color: #db52b4;
}

#playAgainBtn {
  border: solid 2px #919bd3;
  border-radius: 20px;
  color: #432e73;
  font-size: 25px;
  background-color: #919bd3;
  padding: 10px 70px;
}

#playAgainBtn:hover {
  border: solid 2px #9865c7;
  background-color: #9865c7;
}

@media only screen and (max-width: 660px) and (max-height: 888px) {
  main {
    gap: 16px;
  }
  #scoreboardDiv {
    font-size: 48px;
    gap: 12.8px;
    margin-top: 16px;
  }
  #playAgainBtn {
    font-size: 20px;
    padding: 8px 56px;
  }
}
@media only screen and (max-width: 375px) {
  main {
    gap: 14px;
  }
  #scoreboardDiv {
    font-size: 43px;
    gap: 11.4px;
    margin-top: 14px;
  }
  #playAgainBtn {
    font-size: 18px;
    margin-top: 15px;
    padding: 7px 50px;
  }
}
#gameBoradDiv {
  display: grid;
  width: 400px;
  height: 400px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
}

.cell {
  width: 33, 33%;
  height: 33, 33%;
  border: solid 2px #919bd3;
  border-radius: 20px;
  box-shadow: 0 0 10px #919bd3;
  font-family: "Concert One", cursive;
  font-size: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell:hover {
  border-color: #9865c7;
  box-shadow: 0 0 10px #9865c7;
}

@media only screen and (max-width: 660px) and (max-height: 888px) {
  #gameBoradDiv {
    width: 320px;
    height: 320px;
    gap: 16px;
  }
  .cell {
    font-size: 72px;
  }
}
@media only screen and (max-width: 375px) {
  #gameBoradDiv {
    width: 280px;
    height: 280px;
    gap: 14px;
  }
  .cell {
    font-size: 64px;
  }
}
footer {
  padding-top: 1%;
  padding-bottom: 1%;
  position: sticky;
  height: 100px;
  display: flex;
  align-items: center;
}

footer p {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 25px;
  color: #919bd3;
}

footer img {
  width: 25px;
}

@media only screen and (max-height: 888px) {
  footer {
    padding-top: 20px;
  }
}
@media only screen and (max-width: 660px) {
  footer p {
    gap: 8px;
    font-size: 20px;
  }
  footer img {
    width: 20px;
  }
}
@media only screen and (max-width: 375px) {
  footer {
    padding-top: 50px;
  }
  footer p {
    gap: 7px;
    font-size: 18px;
  }
  footer img {
    width: 18px;
  }
}/*# sourceMappingURL=style.css.map */